# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/manifest.json
develop-eggs/
eggs/
include/
lib/
parts/
sdist/
var/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# config
instance/
#config/setting_production.py

# Unit test / coverage reports
.coverage
.cache
.pytest_cache
htmlcov/

# Translations
*.mo

# Sphinx documentation
docs/_build/

# OS and editor files
.DS_Store
*/**.DS_Store
._*
.*.sw*
*~
.idea/
.mr.developer.cfg
.project
.pydevproject
*.tmproj
*.tmproject
tmtags

# App ignores.
celerybeat*
instance/settings.py
*.production_example
instance/settings.py.production_example
all_issues.csv
all_issues.xlsx
~$all_issues.xlsx
api_issues.xlsx
